# Default owners for all files in this repository.
# Pull requests that modify these paths need approval from the listed owners
# when "Require review from Code Owners" is enabled in branch protection rules.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @AEAbreu-hub
* @AutomotionTools
